body{
	border:10px white solid;
	margin-right: 10%;
	margin-left: 10%;
	background-image: url("https://cutewallpaper.org/21/light-green-pattern-background/Traditional-Gingham-pattern-in-light-green-color-Seamless-checkered.jpg");
}

.main_body{
	background-color: white;
	margin:-1px;
}

.title{
	background-color: #A8F0F0;
	text-align: right;
	margin-top: -4px;
}

.sub_title{
	font-size: 14px;
	margin: 2px;
}

.body_title{
	border:4px #C2E9E9 solid;
	flex-basis: 80%;
	background-color: #E8FBFB;
	padding: 10px;
	margin-top:10px;
	overflow: auto;
}

span{
	border-bottom:2px blue dashed;
}

.article_body{
	display: flex;
	flex-direction: row-reverse;
}

.card{
	flex-basis: 20%;
	padding: 5px;
	border: 5px #245F5F solid;
	margin: 10px;
	margin-bottom: 300px;
	background-color: #5FD8D8;
}

img{
	float: right;
}